/* --------------------------------------------------------
version: 1.0
author: Asryan Babken
email: ababken10@gamail.com
website: https://freelancehunt.com/freelancer/ababken.html
----------------------------------------------------------*/


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

li::marker {
    display: none;
}

ul {
    list-style-type: none;
}

a,
button,
textarea,
input {
    outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
.no-boot ul {
    list-style: none;
    margin: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


// 

.xl-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;

    @include sm {
        padding: 0 8px;
    }
}

.lg-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 47px;

    @include lg {
        padding: 0 30px
    }

    @include sm {
        padding: 0 18px
    }
}
.md-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 75px;

    @include lg {
        padding: 0 28px
    }

    @include sm {
        padding: 0 18px
    }
}


// 
html {
    &.fixed {
        overflow: hidden;
        padding-right: 17px;
    }
}

body {
    width: 100%;
    height: 100%;
    @include ffamily($display-roman, normal);
    @include rhythm(25, 35);
    background: $white;
    color: $black;
    scroll-behavior: smooth;
}

.transition-fade {
    transition: .5s;
    opacity: 1;
    // transform: translateY(0);
    transform-origin: top;
}

html.is-animating .transition-fade {
    transform: translateY(-100px);
    opacity: 0;
}

html.is-leaving .transition-fade {
    transform: translateY(-100px);
    opacity: 0;
}


// 

.scroll-btn {
    color: $white;
    position: absolute;
    bottom: 38px;
    left: 38px;
    z-index: 10;
    pointer-events: none;
    letter-spacing: .1em;
    transition: .3s ease;
    @include rhythm(70, 64);
    @include lg {
        @include rhythm(50, 64);
        bottom: 30px;
        left: 30px;
    }
    #firstLottie {
        margin-left: 30px;
        width: 50px; 
        height: 100%; 
        transform: rotate(90deg);
        @include lg {
            width: 30px; 
            margin-left: 15px;
        }
    }
    @include sm {
        bottom: 17px;
        left: 17px;
    }
    .btn-inner {
        display: flex;
        align-items: center;
    }
    &.white {
        color: $white;
        lottie-player {
            svg {
                * {
                    stroke: $white !important;
                    fill: $white !important;
                    fill-opacity: 1 !important;
                }
            }
        }
    }
}
.section {
    position: relative;
}
.section-title {
    text-transform: uppercase;
    display: block;
    @include rhythm(100, 100);
    @include ffamily($display-roman);

    @include xl {
        @include rhythm(60, 60);
    }

    @include md {
        @include rhythm(50, 50);
    }

    @include sm {
        @include rhythm(30, 32);
    }

    @include m-sm {
        @include rhythm(25, 30);
    }
}
.section-subtitle {
    text-transform: uppercase;
    display: block;
    margin-left: 20px;
    @include rhythm(50, 60);
    @include ffamily($text-roman);
    @include xl {
        @include rhythm(26, 32);
    }

    @include md {
        @include rhythm(20, 25);
    }

    @include sm {
        @include rhythm(12, 16);
    }
    
}
.md-subtitle-l {
    @include sm {
        max-width: 110px;
    }
}
.lg-subtitle-l {
    &.info-subtitle {
        max-width: 450px;
        @include xl {
            max-width: 250px;
        }
        @include md {
            max-width: 180px;
        }
        @include sm {
            max-width: 130px;
        }
    }
}
.section-text {
    @include rhythm(65, 75);
    @include ffamily($text-roman);
    @include xl {
        @include rhythm(35, 40);
    }

    @include md {
        @include rhythm(25, 30);
    }

    @include sm {
        @include rhythm(20, 25);
    }
}
.block-title {
    @include rhythm(65, 75);
    @include ffamily($text-roman);
    @include xl {
        @include rhythm(35, 40);
    }

    @include md {
        @include rhythm(30, 35);
    }

    @include sm {
        @include rhythm(28, 25);
    }
}
.picture__screen {
    min-height: 100vh;

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

// 

.text-reveal {
    display: block;
    overflow: hidden;
    span {
        display: block;
        overflow: hidden;
        transform: translateY(100%);
    }
}
.section-list {
    display: flex;
    justify-content: flex-end;
}
.list-inner {
    display: flex;
    flex: 0 0 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    @include lg {
        flex: 0 0 40%; 
    }
    @include md {
        flex: 0 0 50%; 
    }
    @include sm {
        flex: 0 0 100%; 
    }  
}
.list-column {
    flex: 0 0 45%; 
    @include sm {
        flex: 0 0 100%; 
    }   
}
.list-item {
    &:not(:last-child) {
        margin-bottom: 18px;
        @include lg {
            margin-bottom: 15px;
        }
    }
    @include rhythm(20, 25);
    @include lg {
        @include rhythm(12, 14);
    }
}
.list-item_title {
    @include ffamily($display-medium, normal, 500);
}
.list-item_text {
    max-width: 257px;
    @include lg {
        max-width: 124px;
    }
}

// 

.video-animation_default {
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 16px 0;
    max-height: 100vh;
    min-height: none;
    overflow: visible;
    // img {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     display: none;
    //     @include lg {
    //         width: 37px;
    //         height: 27px;
    //     }
    //     @include sm {
    //         width: 43px;
    //         height: 32px;
    //     }
    // }
    &.grow {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        height: auto;
        max-height: none;
        min-height: 100vh;
        figure {
            video {
                margin: 16px 0;
                height: calc(100% - 32px);
            }
        }
    }
    @include lg {
        padding-top: 5.5vh;
    }
    @include sm {
        padding-top: 0;
    }
}
.video-borders_def {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    div {
        background: $white;
        display: block;
        position: absolute;
        transition: width .6s ease-out, height .6s ease-out, transform .5s ease-out;
        @include sm {
            transition: width .4s ease-out, height .4s ease-out, transform .3s ease-out;
        }
    }
    .video-border-top {
        height: 4.2vh;
        @include sm {
            height: 3.2vh;
        }
    }
    .video-border-bottom {
        height: 5.3vh;
        width: 100%;
        @include lg {
            height: 4.5vh;
        }
        @include sm {
            height: 3.5vh;
        }
    }
    .video-border-right {
        width: 2.34vw;
        @include lg {
            width: 3.4vw;
        }
        @include sm {
            width: 4.8vw;
        }
    }
    .video-border-left {
        width: 2.34vw;
        @include lg {
            width: 3.4vw;
        }
        @include sm {
            width: 4.8vw;
        }
    }
}
// 
.resolve-section {
    @include ffamily($text-roman)
}
// 
.text-box {
    background: $gray;
    padding: 90px 0;
    @include lg {
        padding: 35px 0;
    }
    @include md {
        padding: 30px 0;
    }
    @include sm {
        padding: 25px 0;
    }
}
.hng-resolve-inner {
    background: $p-blue;
}
.resolve-title {
    @include ffamily($display-roman);
    img {
        margin-left: 10px;
        max-height: 100%;
        @include xl {
            width: 25px;
            height: 25px;
            margin-left: 5px;
        }
        @include md {
            width: 20px;
            height: 20px;
        }
        @include sm {
            width: 17px;
            height: 17px;
        }
    }

}
.resolve-content {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    padding: 21px 0 80px;
    @include lg {
        padding: 10px 0 40px;
        min-height: 400px;
    }
    @include sm {
        padding: 10px 0 50px;
        min-height: 450px;
    }
}
.resolve-text {
    margin-top: auto;
    max-width: 1244px;
    @include rhythm(35, 45);
    @include lg {
        max-width: 627px;
        @include rhythm(18, 25);
    }
    @include md {
        max-width: 598px;
    }
    
    span:not(:last-child) {
        margin-bottom: 30px;
        @include md {
            margin-bottom: 20px;
        }
    }
}
// 

.page-top_row {
    display: flex;
    justify-content: space-between;
    padding: 93px 0 73px;
    @include xl {
        padding: 75px 0 40px;
    }
    @include md {
        padding: 50px 0 40px;
    }

    @include sm {
        padding: 55px 0 35px;
    }
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .image-wrap {
        display: flex;
        align-items: flex-end;
        &:nth-child(1) {
            flex: 0 0 57.9%;
        }
        &:nth-child(2) {
            flex: 0 0 41.2%;
        }
        @include sm {
            &:nth-child(1) {
                flex: 0 0 62.8%;
            }
            &:nth-child(2) {
                flex: 0 0 35.8%;
            }
        }
        &.img-pg-b {
            align-items: flex-start;
        }
    }
}
.page-text {
    max-width: 97%;
}
.page-list {
    padding: 295px 0 0;
    @include xl {
        padding: 100px 0 0;
    }
    @include md {
        padding: 100px 0 0;
    }
    @include sm {
        padding: 93px 0 0;
    }
}


// 
.image_info-section {
    @include ffamily($text-roman)
}
.image_info-section {
    padding: 181px 0 230px;
    @include lg {
        padding: 108px 0 80px;
    }
    @include md {
        padding: 101px 0 100px;
    }
    @include sm {
        padding: 60px 0;
    }
}
.image_info-inner {
    width: fit-content;
    margin-left: auto;
    max-width: 1441px;
    img {
        width: 100%;
    }
    @include s-lg {
        max-width: 740px;
    }
    @include md {
        max-width: 608px; 
    }
    @include sm {
        max-width: 100%; 
    }
}
.reverse-image_info {
    .image_info-text {
        p {
            margin-bottom: 150px;
            @include lg {
                margin-bottom: 50px;
            }
            @include md {
                margin-bottom: 20px;
            }
            @include sm {
                margin-bottom: 75px;
            }
        }
    }
}
.image_info-text {
    max-width: 1252px;
    @include rhythm(28, 38);
    @include s-lg {
        max-width: 572px;
        @include rhythm(16, 21);
    }
    @include md {
        max-width: 546px; 
    }
    @include sm {
        max-width: 100%; 
        @include rhythm(18, 23);
    }
    p {
        &:not(:last-child) {
            margin-bottom: 40px;
            @include lg {
                margin-bottom: 30px;
            }
            @include sm {
                margin-bottom: 20px;
            }
        }
    }
}
.image_info-img {
    width: fit-content;
    margin-bottom: 150px;
    @include lg {
        margin-bottom: 51px;
    }
    @include md {
        margin-bottom: 41px;
    }
    @include sm {
        margin-bottom: 60px;
    }
}

// 

.trigger-row {
    display: flex;
    align-items: center;
    height: 144px;
    @include lg {
        height: 85px;
    }
}
.trigger-btn {
    display: flex;    
    align-items: center;
    cursor: pointer;
    @include ffamily($display-roman);
    img {
        margin-left: 10px;
        @include xl {
            width: 25px;
            height: 25px;
            margin-left: 5px;
        }
        @include md {
            width: 20px;
            height: 20px;
        }
        @include sm {
            width: 17px;
            height: 17px;
        }
    }
    &.active {
        span {
            transition: opacity .3s ease;
            &:nth-child(1) {
                visibility: hidden;
                opacity: 0;
                width: 0;
            }
            &:nth-child(2) {
                visibility: visible;
                opacity: 1;
                width: unset;
            }
        }
        .trigger-content {
            display: block;
        }
    }
    span {
        &:nth-child(2) {
            visibility: hidden;
            opacity: 0;
            width: 0;
        }
    }
}
.trigger-content {
    display: none;
    @include ffamily($text-roman);
}
.trigger-content_text {
    padding: 186px 0 158px;
    @include rhythm(28, 38);
    @include lg {
        padding: 105px 0 185px;
    }
    @include md {
        padding: 133px 0;
    }
    @include sm {
        padding: 100px 0 128px;
    }
}
.trigger-title {
    max-width: 95%;
    margin-bottom: 197px;
    @include lg {
        margin-bottom: 97px;
    }
    @include md {
        margin-bottom: 54px;
    }
    @include sm {
        margin-bottom: 125px;
        max-width: 84%;
    }
}
.trigger-text {
    margin-left: auto;
    max-width: 1252px;
    @include s-lg {
        max-width: 572px;
        @include rhythm(16, 21);
    }
    @include sm {
        max-width: 100%; 
    }
}
.image_full-wrap {
    padding: 150px 0 100px;
    @include lg {
        padding: 0 0 50px;
    }
    img {
        width: 100%;
    }
}
.trigger-gallery {
    display: flex;
    flex-wrap: wrap;
    img {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .image {
        &.tg-mt {
            margin-top: 4.9%;
            @include lg {
                margin-top: 3%;
            }
            @include s-md {
                margin-top: 50%;
            }
        }
        &.tg-mtm {
            margin-top: 2%;
            @include s-md {
                margin-top: 50px;
            }
        }
        &.tg-m-lm {
            margin-left: 22.24%;
            @include s-md {
                margin-left: auto;
            }
        }
        &.tg-mr {
            margin-right: 9.5%;
        }
        &.tg-mm {
            @include s-md {
                margin-right: 14.4%;
            }
        }
        &.tg-mmra.tg-prior {
            @include s-md {
                margin-left: auto;
                margin-right: 10px;
            }
        }
        &.tg-mmt {
            @include s-md {
                margin-top: 45px;
            }
        }
        &.tg-mmdefl {            
            @include s-md {
                margin-right: 5%;
            }
        }
    }
    &:nth-child(2) {
        padding: 44px 0 169px;
        @include s-lg {
            padding: 23px 0 86px;
        }
        @include s-md {
            padding: 0 0 50px;
        }
    }
    &:nth-child(3) {
        padding: 0 0 135px;
        @include lg {
            padding: 0 0 123px;
        }
        @include md {
            padding: 0 0 107px;
        }        
        @include sm {
            padding: 0 0 65px;
        }
    }
}
.trigger-s-text {
    max-width: 984px;
    padding-bottom: 50px;
    margin-left: auto;
    @include rhythm(35, 45);
    @include s-lg {
        max-width: 454px;
        @include rhythm(16, 21);
    }
    @include sm {
        @include rhythm(18, 25);
    }
}
.trigger-content_inner {
    padding: 0 0 50px;
    @include sm {
        padding-bottom: 20px;
    }
}

// 
.section-simple {
    padding: 100px 0 300px;
    @include lg {
        padding: 100px 0 200px;
    }
    @include md {
        padding: 100px 0;
    }
}
.page-content__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include md {
        flex-direction: column-reverse; 
        &>div {
            flex: unset;
        }
    }
    &>div {
        @include md { 
            width: 59.5%;
            margin-left: auto;
        }
        @include sm {
            width: 70%;
        }
        @include s-sm {
           &.page-content__text {
                width: 100%;
           }
        }
    }
}
.page-content__text {
    flex: 0 0 43%;
    display: flex;
    justify-content: center;
    p {
        max-width: 616px;
        @include rhythm(28, 38);
        @include s-lg {
            max-width: 320px;
            @include rhythm(16, 21);
        }
        @include md {
            max-width: 360px; 
        }
        @include sm {
            max-width: 100%; 
        }
    }
    @include md {
        margin-top: 34px; 
        justify-content: start;
    }
    @include s-sm {
        margin-top: 60px; 
    }
}
.page-content-image {
    flex: 0 0 49.5%;
    img {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: fill;
    }
}
.n-py {
    & > div {
        padding: 0;
    }
}
.section.s-pb {
    padding-bottom: 100px;
    @include lg {
        padding-bottom: 75px;
    }
    @include md {
        padding-bottom: 60px;
    }
    @include sm {
        padding-bottom: 100px;
    }
}

.trigger-section {
    padding: 100px 0;
    @include lg {
        padding: 75px 0;
    }
    @include md {
        padding: 50px 0;
    }    
    @include sm {
        padding: 95px 0;
    }
}





