/* --------------------------------------------------------
version: 1.0
author: Asryan Babken
email: ababken10@gamail.com
website: https://freelancehunt.com/freelancer/ababken.html
----------------------------------------------------------*/


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

li::marker {
    display: none;
}

ul {
    list-style-type: none;
}

a,
button,
textarea,
input {
    outline: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
.no-boot ul {
    list-style: none;
    margin: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


// 

.xl-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;

    @include sm {
        padding: 0 8px;
    }
}

.lg-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 47px;

    @include lg {
        padding: 0 30px
    }

    @include sm {
        padding: 0 18px
    }
}


// 

body {
    @include ffamily($display-roman, normal);
    @include rhythm(25, 35);
    background: $white;
    color: $black;
    scroll-behavior: smooth;
}

// 

.scroll-btn {
    color: $black;
    position: fixed;
    bottom: 38px;
    left: 38px;
    z-index: 10;
    display: none;
    cursor: pointer;
    letter-spacing: .1em;
    @include rhythm(70, 64);

    @include lg {
        @include rhythm(50, 64);
        bottom: 30px;
        left: 30px;
    }

    @include sm {
        bottom: 17px;
        left: 17px;
    }

    &.white {
        color: $white;
    }
}
.section-title {
    display: block;
    @include rhythm(100, 100);
    @include ffamily($display-roman);

    @include xl {
        @include rhythm(60, 60);
    }

    @include md {
        @include rhythm(50, 50);
    }

    @include sm {
        @include rhythm(30, 32);
    }

    @include m-sm {
        @include rhythm(25, 30);
    }
}
.section-subtitle {
    display: block;
    @include rhythm(50, 60);
    @include ffamily($text-roman);
    @include xl {
        @include rhythm(26, 32);
    }

    @include md {
        @include rhythm(20, 25);
    }

    @include sm {
        @include rhythm(12, 16);
    }
    
}
.section-text {
    @include rhythm(65, 75);
    @include ffamily($text-roman);
    @include xl {
        @include rhythm(35, 40);
    }

    @include md {
        @include rhythm(25, 30);
    }

    @include sm {
        @include rhythm(20, 25);
    }
}
.picture__screen {
    min-height: 100vh;

    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

// 

.text-reveal {
    display: block;
    overflow: hidden;
    span {
        display: block;
        overflow: hidden;
        transform: translateY(100%);
    }
}
.section-list {
    display: flex;
    justify-content: flex-end;
}
.list-inner {
    display: flex;
    flex: 0 0 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    @include lg {
        flex: 0 0 40%; 
    }
    @include md {
        flex: 0 0 50%; 
    }
    @include sm {
        flex: 0 0 100%; 
    }  
}
.list-column {
    flex: 0 0 45%; 
    @include sm {
        flex: 0 0 100%; 
    }   
}
.list-item {
    &:not(:last-child) {
        margin-bottom: 18px;
        @include lg {
            margin-bottom: 15px;
        }
    }
    @include rhythm(20, 25);
    @include lg {
        @include rhythm(12, 14);
    }
}
.list-item_title {
    @include ffamily($display-medium, normal, 500);
}
.list-item_text {
    max-width: 257px;
    @include lg {
        max-width: 124px;
    }
}

// 

.video-animation_default {
    max-height: 100vh;
    min-height: none;
    overflow: visible;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include lg {
            width: 37px;
            height: 27px;
        }
        @include sm {
            width: 43px;
            height: 32px;
        }
    }
    &.grow {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        height: auto;
        max-height: none;
        min-height: 100vh;
    }
    @include lg {
        padding-top: 5.5vh;
    }
    @include sm {
        padding-top: 0;
    }
}
.video-borders_def {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    div {
        background: $white;
        display: block;
        position: absolute;
        transition: width .6s ease-out, height .6s ease-out, transform .5s ease-out;
        @include sm {
            transition: width .4s ease-out, height .4s ease-out, transform .3s ease-out;
        }
    }
    .video-border-top {
        height: 4.2vh;
        @include sm {
            height: 3.2vh;
        }
    }
    .video-border-bottom {
        height: 5.3vh;
        width: 100%;
        @include lg {
            height: 4.5vh;
        }
        @include sm {
            height: 3.5vh;
        }
    }
    .video-border-right {
        width: 2.34vw;
        @include lg {
            width: 3.4vw;
        }
        @include sm {
            width: 4.8vw;
        }
    }
    .video-border-left {
        width: 2.34vw;
        @include lg {
            width: 3.4vw;
        }
        @include sm {
            width: 4.8vw;
        }
    }
}
// 
.resolve-section {
    @include ffamily($text-roman)
}
// 
.text-box {
    background: $gray;
    padding: 90px 0;
    @include lg {
        padding: 35px 0;
    }
    @include md {
        padding: 30px 0;
    }
    @include sm {
        padding: 25px 0;
    }
}
.resolve-inner {
    background: $p-blue;
}
.resolve-title {
    @include ffamily($display-roman);
    img {
        margin-left: 10px;
        max-height: 100%;
        @include xl {
            width: 25px;
            height: 25px;
            margin-left: 5px;
        }
        @include md {
            width: 20px;
            height: 20px;
        }
        @include sm {
            width: 17px;
            height: 17px;
        }
    }

}
.resolve-content {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    padding: 21px 0 80px;
    @include lg {
        padding: 10px 0 40px;
        min-height: 400px;
    }
    @include sm {
        padding: 10px 0 50px;
        min-height: 450px;
    }
}
.resolve-text {
    margin-top: auto;
    max-width: 1244px;
    @include rhythm(35, 45);
    @include lg {
        max-width: 627px;
        @include rhythm(18, 25);
    }
    @include md {
        max-width: 598px;
    }
}
// 
.image_info-section {
    @include ffamily($text-roman)
}
.image_info-section {
    padding: 181px 0 230px;
    @include lg {
        padding: 108px 0 80px;
    }
    @include md {
        padding: 101px 0 100px;
    }
    @include sm {
        padding: 60px 0;
    }
}
.image_info-inner {
    width: fit-content;
    margin-left: auto;
    max-width: 1441px;
    img {
        width: 100%;
    }
    @include s-lg {
        max-width: 740px;
    }
    @include md {
        max-width: 608px; 
    }
    @include sm {
        max-width: 100%; 
    }
}
.image_info-text {
    max-width: 1252px;
    @include s-lg {
        max-width: 572px;
    }
    @include md {
        max-width: 546px; 
    }
    @include sm {
        max-width: 100%; 
    }
    p {
        &:not(:last-child) {
            margin-bottom: 40px;
            @include lg {
                margin-bottom: 30px;
            }
            @include sm {
                margin-bottom: 20px;
            }
        }
    }
}
.image_info-img {
    width: fit-content;
    margin-bottom: 150px;
    @include lg {
        margin-bottom: 51px;
    }
    @include md {
        margin-bottom: 41px;
    }
    @include sm {
        margin-bottom: 60px;
    }
}





















// .transition-fade {
//     transition: .5s;
//     opacity: 1;
//     // transform: translateY(0);
//     transform-origin: top;
// }

// html.is-animating .transition-fade {
//     transform: translateY(-100px);
//     opacity: 0;
// }

// html.is-leaving .transition-fade {
//     transform: translateY(-100px);
//     opacity: 0;
// }



