

// colors

$white: #FFFFFF;
$black: #000000;
$l-brown: #C69B6D;
$brown: #3A1E0F;
$blue: #0086DF;
$p-blue: #A3C6DD;
$yellow: #DEAC4E;
$red: #C1675B;
$orange: #CE651F;
$gray: #F1EFED;
$violet: #BC9AD5;
$sage: #9BA277;


$display-roman: 'Neue Haas Grotesk Display Roman';
$display-medium: 'Neue Haas Grotesk Display Medium';
$text-roman: 'Neue Haas Grotesk Text Roman';
$display-italic: 'Neue Haas Grotesk Display Italic';