.footer {
    padding: 223px 0 106px;
    @include ffamily($text-roman);
    @include lg {
        padding: 100px 0 65px;
    }
    @include sm {
        padding: 130px 0 44px;
    }
}
.footer-contacts--text {
    @include rhythm(65, 75);
    max-width: 1060px;
    margin-bottom: 190px;
    @include lg {
        @include rhythm(35, 40);
        margin-bottom: 100px;
        max-width: 560px;
    }
    @include md {
        @include rhythm(30, 35);
        margin-bottom: 150px;
        max-width: 480px;
    }
    @include sm {
        @include rhythm(25, 28);
        max-width: 320px;
    }
}
.footer-contacts--row,
.footer-adress--row {
    @include rhythm(28,38);
    display: flex;
    color: $brown;
    @include lg {
        @include rhythm(14, 20);
    }
}
.footer-contacts--row {
    &>div:nth-child(2),
    &>div:nth-child(3) {
        @include sm {
            display: none;
        }
    }
}
.footer-adress--row {
    margin-top: 117px;
    &>div {
        flex: 0 0 40%;
        display: flex;
        align-items: flex-end;
        @include lg {
            flex: 0 0 35%;
        }
        @include md {
            flex: unset;
        }
    }
    @include lg {
        margin-top: 87px;
    }
    @include md {
        @include rhythm(12,18);
    }
    @include sm {
        flex-direction: column-reverse;
        @include rhythm(18,28);
        margin-top: 50px;
    }
}
.footer-contacts--row {
    &>div {
        &:nth-child(2),
        &:nth-child(3) {
            margin-top: 36px;
        }
    }
}
.footer-contacts--title {
    margin-bottom: 110px;
    @include lg {
        margin-bottom: 60px;
        @include rhythm(16,22);
    }
    @include md {
        margin-bottom: 50px;
        @include rhythm(15,18);
    }
    @include sm {
        margin-bottom: 29px;
        @include rhythm(18,28);
    }
}
.footer-logo {
    margin-right: auto;
    svg {        
        @include lg {
            width: 77px;
            height: 30px;
        }      
        @include md {
            width: 57px;
            height: 23px;
        }  
        @include sm {
            width: 70px;
            height: 33px;
        }
    }   
}
.footer-adress {
    margin-left: 20px;
    margin-right: 20px;    
    @include sm {
        margin: 18px 0 40px; 
    }
}
.footer-column {
    flex: 0 0 33.333%;
}
.footer-social {
    display: flex;
    flex-direction: column;
    @include md {
        @include rhythm(12,15);
    }
    @include sm {
        @include rhythm(18,28);
    }
    a:first-child {
        margin-bottom: 4px;
    }
}