.header {
    padding: 22px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    @include lg {
        padding: 19px 0;
    }
    @include sm {
        padding: 17px 0;
    }
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    a {
        display: block;
        &.sink {
            &* {
                z-index: -1;                
            }
        }
    }
    .header-logo {
        svg {            
            @include lg {
                width: 60px;
                height: auto;
            }
        }
    }
    .menu {           
        @include lg {
            @include rhythm(18,28);
        }
        @include sm {
            @include rhythm(16,26);
        }
    }
}
.header-logo {
    &.white {
        svg {
            path {
                fill: $white;
            }
        }
    }
}
.header-menu {
    &.white {
        color: $white;
    }
}