// 

// info

.page__info-section {
    padding: 50px 0 60px;
    @include lg {
        padding: 77px 0 50px;
    }
    @include sm {
        padding: 60px 0 100px;
    }
}
.title-row {
    display: flex;
    justify-content: space-between;
}
.info-title {
    max-width: 754px;
    @include xl {
        max-width: 486px;
    }

    @include md {
        max-width: 400px;
    }

    @include sm {
        max-width: 225px;
    }
}
.info-subtitle {
    max-width: 435px;
    @include xl {
        max-width: 236px;
    }

    @include md {
        max-width: 174px;
    }

    @include sm {
        max-width: 96px;
    }
}


// 
.hng-trigger {
    background: $p-blue;
    .video-border_def {   
        background: $p-blue;
    }
}

// 

.section-slider {
    background: $brown;
}
.hng-slider-inner {
    padding: 143px 75px;
    @include xl {
        padding: 76px 34px;
    }
    @include sm {
        padding: 50px 20px;
    }
    @include s-sm {
        padding: 43px 0 19px;
    }
}
.hng-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include md  {
        max-width: 688px;
    }
}
.hng-slider--item {
    flex: 0 0 31.15%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include md {
        &:nth-child(1) {
            order: 3;
            flex: 0 0 100%;
            margin-top: 30px;
        }
        &:nth-child(2) {
            order: 1;
            flex: 0 0 46.2%;
        }
        &:nth-child(3) {
            order: 2;
            flex: 0 0 46.2%;
        }
    }
    @include s-sm {
        flex: unset !important;
        order: unset !important;
        margin: 0 0 0 0 !important;
        max-height: 500px;
    }
}
.slider-scroll {
    display: none;
    @include s-sm {
        display: block;
        color: #fff;
        margin-bottom: 14px;
        @include rhythm(20,24);
    }
}